{
    "swagger": "2.0",
    "info": {
        "description": "This is API documentation for Oktagon E-Commerce Projects",
        "version": "1.0.0",
        "title": "Oktagon"
    },
    "host": "api-oktagon.stagingapps.net",
    "basePath": "/core/api/v1",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {        
        "/banners": {
            "get": {
                "description": "Get all banners\n",
                "tags": [
                    "Banner"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Banner type Slug",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannerIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new banner\n",
                "tags": [
                    "Banner"
                ],
                "parameters": [
                    {
                        "name": "banner",
                        "in": "body",
                        "description": "The banner JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BannerSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannerSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/banners/{id}": {
            "get": {
                "description": "View banner by ID\n",
                "tags": [
                    "Banner"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the banner",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannerShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating Banner\n",
                "tags": [
                    "Banner"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the banner",
                        "type": "integer"
                    },
                    {
                        "name": "banner",
                        "in": "body",
                        "description": "The banner JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BannerUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannerUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Banner\n",
                "tags": [
                    "Banner"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the banner",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BannerDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannerDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/bannerTypes": {
            "get": {
                "description": "Get all banner types\n",
                "tags": [
                    "Banner Types"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access Token",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannertypeIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new banner type\n",
                "tags": [
                    "Banner Types"
                ],
                "parameters": [
                    {
                        "name": "banner",
                        "in": "body",
                        "description": "The banner JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BannertypeSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannertypeSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/bannerTypes/{id}": {
            "get": {
                "description": "View banner type by ID\n",
                "tags": [
                    "Banner Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Banner type ID",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannertypeShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating banner type\n",
                "tags": [
                    "Banner Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Banner type ID",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "banner_types",
                        "in": "body",
                        "description": "The banner type JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BannertypeUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannertypeUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Banner type\n",
                "tags": [
                    "Banner Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the banner type",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BannertypeDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/BannertypeDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/pages": {
            "get": {
                "description": "Get all pages\n",
                "tags": [
                    "Pages"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/PageIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new page\n",
                "tags": [
                    "Pages"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "body",
                        "description": "The page JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PageSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/PageSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/pages/{id}": {
            "get": {
                "description": "View page by ID\n",
                "tags": [
                    "Pages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Page",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/PageShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating Page\n",
                "tags": [
                    "Pages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Page",
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "body",
                        "description": "The Page JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PageUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/PageUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Page\n",
                "tags": [
                    "Pages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Page",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PageDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/PageDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/pageCategories": {
            "get": {
                "description": "Get all categories\n",
                "tags": [
                    "Page Categories"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new category\n",
                "tags": [
                    "Page Categories"
                ],
                "parameters": [
                    {
                        "name": "category",
                        "in": "body",
                        "description": "The category JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/pageCategories/{id}": {
            "get": {
                "description": "View category by ID\n",
                "tags": [
                    "Page Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the category",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating category\n",
                "tags": [
                    "Page Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the category",
                        "type": "integer"
                    },
                    {
                        "name": "category",
                        "in": "body",
                        "description": "The category JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete category\n",
                "tags": [
                    "Page Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the category",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/pageCategoriesDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/newsletterEmails": {
            "get": {
                "description": "Get all emails\n",
                "tags": [
                    "Newsletter Emails"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new email\n",
                "tags": [
                    "Newsletter Emails"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "description": "The email JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/newsletterEmails/{id}": {
            "get": {
                "description": "View email by ID\n",
                "tags": [
                    "Newsletter Emails"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the newsletter email",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating Banner\n",
                "tags": [
                    "Newsletter Emails"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the email",
                        "type": "integer"
                    },
                    {
                        "name": "email",
                        "in": "body",
                        "description": "The email JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Banner\n",
                "tags": [
                    "Newsletter Emails"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the email",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/newsletterEmailsDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/menus": {
            "get": {
                "description": "Get all menus\n",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/MenuIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new Menu\n",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "menu",
                        "in": "body",
                        "description": "The Menu JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MenuSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/MenuSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/menus/{id}": {
            "get": {
                "description": "View Menu by ID\n",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Menu",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/MenuShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating Menu\n",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Menu",
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "body",
                        "description": "The Menu JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MenuUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/MenuUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Menu\n",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Menu",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MenuDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/MenuDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/products": {
            "get": {
                "description": "Get all products\n",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter the results",
                        "type": "string",
                        "default": "[{\"field\":\"category\",\"operator\":\"=\",\"value\":\"SMARTPHONES\"}]"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order the results",
                        "type": "string",
                        "default": "[{\"field\":\"created_date\",\"sort\":\"DESC\"},{\"field\":\"price\",\"sort\":\"ASC\"}]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/ProductIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/products/{id}": {
            "get": {
                "description": "View Product by Item no\n",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product Item no",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/ProductShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/productCategories": {
            "get": {
                "description": "Get product categories\n",
                "tags": [
                    "Products"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/ProductCategoryAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/products/lastViews": {
            "post": {
                "description": "View Guest last view products\n",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "items",
                        "in": "body",
                        "description": "Array Item no",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProductLastviewRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/ProductIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/productRelateds": {
            "get": {
                "description": "Get products related item\n",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "ITEM_CODE",
                        "in": "query",
                        "description": "Item code of product",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/ProductIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/products/bestSeller": {
            "get": {
                "description": "Get best seller products\n",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter the results",
                        "type": "string",
                        "default": "[{\"field\":\"category\",\"operator\":\"=\",\"value\":\"SMARTPHONES\"}]"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order the results",
                        "type": "string",
                        "default": "[{\"field\":\"created_date\",\"sort\":\"DESC\"},{\"field\":\"price\",\"sort\":\"ASC\"}]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/ProductIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/staffFavourites": {
            "get": {
                "description": "Get staff favourites products\n",
                "tags": [
                    "Products - Staff Favourite"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter the results",
                        "type": "string",
                        "default": "[{\"field\":\"category\",\"operator\":\"=\",\"value\":\"SMARTPHONES\"}]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/ProductIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new staff favourites\n",
                "tags": [
                    "Products - Staff Favourite"
                ],
                "parameters": [
                    {
                        "name": "staff",
                        "in": "body",
                        "description": "The product json you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/staffSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/staffSaveResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/priceCategories": {
            "get": {
                "description": "Get price categories\n",
                "tags": [
                    "Filter - Price Categories"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter the results",
                        "type": "string",
                        "default": "[{\"field\":\"category\",\"operator\":\"=\",\"value\":\"SMARTPHONES\"}]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/priceCategoriesIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create price categories for filter\n",
                "tags": [
                    "Filter - Price Categories"
                ],
                "parameters": [
                    {
                        "name": "staff",
                        "in": "body",
                        "description": "The product json you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/priceCategoriesIndex"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/priceCategoriesIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/shipping/province": {
            "get": {
                "description": "Get shiping provinces\n",
                "tags": [
                    "Shipping"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/shippingProvinceAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/shipping/city": {
            "get": {
                "description": "Get shiping cities\n",
                "tags": [
                    "Shipping"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/shippingCityAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/shipping/cost/{origin}/{destination}/{weight}/{courier}": {
            "get": {
                "description": "Get shiping province\n",
                "tags": [
                    "Shipping"
                ],
                "parameters": [
                    {
                        "name": "origin",
                        "in": "path",
                        "description": "Origin ID",
                        "required": true,
                        "type": "integer",
                        "default": 22
                    },
                    {
                        "name": "destination",
                        "in": "path",
                        "description": "Destination ID",
                        "required": true,
                        "type": "integer",
                        "default": 155
                    },
                    {
                        "name": "weight",
                        "in": "path",
                        "description": "Weight/gr",
                        "type": "integer",
                        "default": 200
                    },
                    {
                        "name": "courier",
                        "in": "path",
                        "description": "Courier name",
                        "type": "string",
                        "default": "jne"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/shippingCostAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/shipping/tracking/{courier}/{resi}": {
            "get": {
                "description": "Tracking JNE\n",
                "tags": [
                    "Shipping"
                ],
                "parameters": [
                    {
                        "name": "courier",
                        "in": "path",
                        "description": "Courier name",
                        "required": true,
                        "type": "string",
                        "default": "jne"
                    },
                    {
                        "name": "resi",
                        "in": "path",
                        "description": "No Resi",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/shippingTrackAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/productPoints": {
            "get": {
                "description": "Get points of product\n",
                "tags": [
                    "Rewards Product"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/productPointsIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new product points\n",
                "tags": [
                    "Rewards Product"
                ],
                "parameters": [
                    {
                        "name": "productPoints",
                        "in": "body",
                        "description": "The product point json you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/productPointsSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/productPointsSaveResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "[POST] Bulk upload product points\n",
                "tags": [
                    "Rewards Product"
                ],
                "parameters": [
                    {
                        "name": "productPoints",
                        "in": "body",
                        "description": "The product point json you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/productPointsBulkSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/productPointsBulkSaveResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "description": "Get all orders\n",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/OrderIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new order\n",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "order",
                        "in": "body",
                        "description": "The order JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrderSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/OrderSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orders/{id}": {
            "get": {
                "description": "View customer by ID\n",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Customer",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/OrdersShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating Order\n",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Order",
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "body",
                        "description": "The Customer JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrdersUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/OrdersUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Order\n",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Orders",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrdersDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/OrdersDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/comments": {
            "get": {
                "description": "Get all customers\n",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CommentsIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new comments\n",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "name": "comments",
                        "in": "body",
                        "description": "The comments JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommentsSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CommentsSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/comments/vote/{id}": {
            "put": {
                "description": "Create new comments\n",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Customer",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "page",
                        "in": "body",
                        "description": "The Customer JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommentsVoteUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CommentsVoteSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rewardTypes": {
            "get": {
                "description": "Get all reward types\n",
                "tags": [
                    "Reward Types"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardTypesIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new reward types\n",
                "tags": [
                    "Reward Types"
                ],
                "parameters": [
                    {
                        "name": "banner",
                        "in": "body",
                        "description": "The banner JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rewardTypesSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardTypesSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rewardTypes/{id}": {
            "get": {
                "description": "View reward types\n",
                "tags": [
                    "Reward Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the banner types",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardTypesShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating reward types\n",
                "tags": [
                    "Reward Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the reward types",
                        "type": "integer"
                    },
                    {
                        "name": "reward",
                        "in": "body",
                        "description": "The reward JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rewardTypesUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardTypesUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete reward types\n",
                "tags": [
                    "Reward Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the reward types",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rewardTypesDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardTypesDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rewardLogs": {
            "get": {
                "description": "Get all reward logs\n",
                "tags": [
                    "Reward Logs"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Auth token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardLogsIndexAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new reward types\n",
                "tags": [
                    "Reward Logs"
                ],
                "parameters": [
                    {
                        "name": "banner",
                        "in": "body",
                        "description": "The banner JSON you want to save",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rewardLogsSaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardLogsSaveAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rewardLogs/{id}": {
            "get": {
                "description": "View reward types\n",
                "tags": [
                    "Reward Logs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the reward logs",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardLogsShowAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Updating reward logs\n",
                "tags": [
                    "Reward Logs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the reward logs",
                        "type": "integer"
                    },
                    {
                        "name": "reward",
                        "in": "body",
                        "description": "The reward JSON you want to update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rewardLogsUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardLogsUpdateAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete reward logs\n",
                "tags": [
                    "Reward Logs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the reward logs",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Access token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rewardLogsDeleteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/rewardLogsDeleteAPI"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth/login": {
            "post": {
                "description": "Getting access token\n",
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "name": "credential",
                        "in": "body",
                        "description": "The credential JSON you want to send",
                        "schema": {
                            "$ref": "#/definitions/accessToken"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "title": "Refresh Token",
                            "type": "object",
                            "$ref": "#/definitions/authResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/unsubscribe": {
            "post": {
                "description": "Unsubscribe Newsletter\n",
                "tags": [
                    "Newsletter"
                ],
                "parameters": [
                    {
                        "name": "unsubscribe_token",
                        "in": "body",
                        "description": "The unsubscribe token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UnsubscribeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/UnsubscribeSuccess"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/customerInvitations": {
            "get": {
                "description": "View Customer Invitation List\n",
                "tags": [
                    "Customer Invitations"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access token",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CustomerInvitationList"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/customerInvitations/import": {
            "post": {
                "description": "Import Customer Invitation List\n",
                "tags": [
                    "Customer Invitations"
                ],
                "parameters": [
                    {
                        "name": "invitation",
                        "in": "query",
                        "description": "Invitation File",
                        "type": "file",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CustomerInvitationImport"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/registerInvitation/send": {
            "post": {
                "description": "Send customer invitation emails\n",
                "tags": [
                    "Customer Invitations"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Customer Invitation ID",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CustomerInvitationEmails"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/customerInvitationsContents": {
            "get": {
                "description": "View customer invitation content\n",
                "tags": [
                    "Customer Invitations Content"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CustomerInvitationContentList"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Add customer invitation content\n",
                "tags": [
                    "Customer Invitations Content"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access Token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "description": "Invitation Content Subject",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "description": "Invitation Content Body",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CustomerInvitationContentAdd"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/customerInvitationsContents/{id}": {
            "put": {
                "description": "Updating Customer Invitation Content\n",
                "tags": [
                    "Customer Invitations Content"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access Token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Customer Invitation Content",
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "body",
                        "description": "Customer name",
                        "required": false
                    },
                    {
                        "name": "email",
                        "in": "body",
                        "description": "Customer Email",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CustomerInvitationContentUpdate"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Customer Invitation Content\n",
                "tags": [
                    "Customer Invitations Content"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the customer invitation",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/CustomerInvitationContentDelete"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/disallowedWords": {
            "get": {
                "description": "View disallowed words\n",
                "tags": [
                    "Disallowed Word"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/DisallowedWordList"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Add disallowed word\n",
                "tags": [
                    "Disallowed Word"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access Token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "word",
                        "in": "query",
                        "description": "Word Value",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/DisallowedWordAdd"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/disallowedWords/{id}": {
            "put": {
                "description": "Updating disallowed word\n",
                "tags": [
                    "Disallowed Word"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Access Token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the word",
                        "type": "integer"
                    },
                    {
                        "name": "word",
                        "in": "body",
                        "description": "word value",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/DisallowedWordUpdate"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete disallowed word\n",
                "tags": [
                    "Disallowed Word"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the word",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "$ref": "#/definitions/DisallowedWordDelete"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BannerIndexAPI": {
            "properties": {
                "meta": {
                    "type": "object",
                    "$ref": "#/definitions/MetaResponse"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BannerIndex"
                    }
                }
            }
        },
        "BannerIndex": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "caption": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "type": "string"
                }
            }
        },
        "BannerShowAPI": {
            "properties": {
                "meta": {
                    "type": "object",
                    "$ref": "#/definitions/MetaResponse"
                },
                "data": {
                    "type": "object",
                    "$ref": "#/definitions/BannerShow"
                }
            }
        },
        "BannerShow": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "banner_type_id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "caption": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "type": "string"
                }
            }
        },
        "BannerSaveRequest": {
            "properties": {
                "access_token": {
                    "type": "string"
                },
                "banner_type_id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "caption": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                }
            }
        },
        "BannerSaveAPI": {
            "properties": {
                "meta": {
                    "type": "object",
                    "$ref": "#/definitions/MetaResponse"
                },
                "data": {
                    "$ref": "#/definitions/BannerSave"
                }
            }
        },
        "BannerSave": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "banner_type_id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "caption": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
[...]
